### Week 3 Linear Regression

In [16]:
# This code appears in every demonstration Notebook.
# By default, when you run each cell, only the last output of the codes will show.
# This code makes all outputs of a cell show.
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

We will explain linear regression models with Advertising dataset.

1. We import the necessary packages.

In [17]:
import pandas as pd
import statsmodels.api as sm
# api submodule gives access to the most commonly used 
# classes and functions directly.

2. We read in the datasets.

In [18]:
ads = pd.read_csv('Advertising.csv')
# If we use absolute path (you may use copy path in Windows)
# ads = pd.read_csv("C:\\Users\\gelin\\OneDrive - UNT System\\DSCI 5240\\S24\\Advertising.csv")

In [19]:
ads.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [20]:
# Delete a column
ads.columns

Index(['Unnamed: 0', 'TV', 'radio', 'newspaper', 'sales'], dtype='object')

In [21]:
del ads['Unnamed: 0']

In [22]:
ads.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

3. Run the linear regression model

In [23]:
# Prepare the variables: dependent, independent and the constant
y = ads['sales']

X = ads[['TV', 'radio', 'newspaper']]

X_with_intercept = sm.add_constant(X)

# Fit the linear regression model
model = sm.OLS(y, X_with_intercept)
results = model.fit()

In [24]:
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  sales   R-squared:                       0.897
Model:                            OLS   Adj. R-squared:                  0.896
Method:                 Least Squares   F-statistic:                     570.3
Date:                Mon, 19 Feb 2024   Prob (F-statistic):           1.58e-96
Time:                        14:39:47   Log-Likelihood:                -386.18
No. Observations:                 200   AIC:                             780.4
Df Residuals:                     196   BIC:                             793.6
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          2.9389      0.312      9.422      0.000       2.324       3.554
TV             0.0458      0.001     32.809      0.000       0.043       0.049
radio          0.1885      0.009     21.893      0.000       0.172       0.206
newspaper     -0.0010      0.006     -0.177      0.860      -0.013       0.011
==============================================================================
Omnibus:                       60.414   Durbin-Watson:                   2.084
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              151.241
Skew:                          -1.327   Prob(JB):                     1.44e-33
Kurtosis:                       6.332   Cond. No.                         454.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

4. Make predictions

In [25]:
# Use predict() to make predictions
sales_predicted = results.predict(X_with_intercept)

In [26]:
# Join it with the original dataset
ads['sales_predicted'] = sales_predicted

In [27]:
ads.head()
# There is a difference between actual sales and predicted sales

      TV  radio  newspaper  sales  sales_predicted
0  230.1   37.8       69.2   22.1        20.523974
1   44.5   39.3       45.1   10.4        12.337855
2   17.2   45.9       69.3    9.3        12.307671
3  151.5   41.3       58.5   18.5        17.597830
4  180.8   10.8       58.4   12.9        13.188672

In [38]:
# You may use sklearn to calculate mse, rmse
from sklearn.metrics import mean_squared_error
# RMSE
mean_squared_error(ads['sales'], ads['sales_predicted'], squared = False)
# Without squared = False, we get MSE

1.6685701407225697

In [29]:
# To get the number of observations, slice the first item of 
# the shape attribute
ads.shape[0]

200

In [32]:
mse = sum((ads['sales_predicted'] - ads['sales'])**2)/ads.shape[0]

In [33]:
mse

2.7841263145109347

In [34]:
import math
rmse = math.sqrt(mse)

1.6685701407225693

5. Introduce interaction terms

In [41]:
ads.head()

      TV  radio  newspaper  sales  sales_predicted  TVXRadio
0  230.1   37.8       69.2   22.1        20.523974   8697.78
1   44.5   39.3       45.1   10.4        12.337855   1748.85
2   17.2   45.9       69.3    9.3        12.307671    789.48
3  151.5   41.3       58.5   18.5        17.597830   6256.95
4  180.8   10.8       58.4   12.9        13.188672   1952.64

In [40]:
# To account for synergies between variables
# create a new variable of the interaction term

ads['TVXRadio'] = ads['TV']*ads['radio']

In [42]:
# Prepare the variables: dependent, independent and the constant
y = ads['sales']

X_interact = ads[['TV', 'radio', 'TVXRadio']]

X_interact_with_intercept = sm.add_constant(X_interact)

# Fit the linear regression model
model_interact = sm.OLS(y, X_interact_with_intercept)
results_interact = model_interact.fit()

In [43]:
results_interact.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  sales   R-squared:                       0.968
Model:                            OLS   Adj. R-squared:                  0.967
Method:                 Least Squares   F-statistic:                     1963.
Date:                Mon, 19 Feb 2024   Prob (F-statistic):          6.68e-146
Time:                        15:41:48   Log-Likelihood:                -270.14
No. Observations:                 200   AIC:                             548.3
Df Residuals:                     196   BIC:                             561.5
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          6.7502      0.248     27.233      0.000       6.261       7.239
TV             0.0191      0.002     12.699      0.000       0.016       0.022
radio          0.0289      0.009      3.241      0.001       0.011       0.046
TVXRadio       0.0011   5.24e-05     20.727      0.000       0.001       0.001
==============================================================================
Omnibus:                      128.132   Durbin-Watson:                   2.224
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1183.719
Skew:                          -2.323   Prob(JB):                    9.09e-258
Kurtosis:                      13.975   Cond. No.                     1.80e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.8e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

#### Practice with Happiness data

In [ ]:
happy = pd.read_csv('Happiness2019.csv')

In [ ]:
happy.head()

In [ ]:
# Which countries are happy?
# We define that if their happiness scores are above average,
# they are happy.

In [ ]:
happy['Score'].mean()

In [ ]:
happyCountries = happy[happy['Score'] > happy['Score'].mean()]
happyCountries.head(50)

In [ ]:
# Which country is the least happy
happy[happy['Score'] == happy['Score'].min()]

In [ ]:
# How the social and economic factors affect the happiness?
# prediction vs. inference
# A predictive question

In [ ]:
# Use a linear regression model
y = 
X = 
# Add constant

# Make a model

# Fit the model

# Dispaly the results

4. Dummy variables

In [ ]:
toyota = pd.read_csv('.\Assignments\ToyotaCorolla.csv')

In [ ]:
toyota.info()

In [ ]:
toyota.columns

In [ ]:
y_car = toyota['Price']
X_car = toyota[['Age', 'KM', 'HP', 'MetColor', 'Automatic']]
X_with_intercept_car = sm.add_constant(X_car)

# Fit the linear regression model
model_car = sm.OLS(y, X_with_intercept_car)
results_car = model_car.fit()
results_car.summary()

For the two dummy variables:
MetColor: Comparing to cars with no metallic color, cars with it sells 44 dollars more, holding everything else constant. But it's not significant.

Automatic: Comparing to cars with no auto transmission, cars with it sells for 748 dollars more, holding everything else constant.

In [ ]:
toyota['Fuel_Type'].unique()

In [ ]:
# Change the variable data type from integer to category
toyota['Doors'].unique()
toyota['Doors'] = toyota['Doors'].astype('category')

In [ ]:
# Generate dummy variables
X_car_1 = toyota[['Age', 'KM', 'HP', 'MetColor', 'Automatic', 
                  'Fuel_Type', 'Doors']]
X_car_1 = pd.get_dummies(X_car_1, columns = ['Fuel_Type', 'Doors'], drop_first = True, dtype = int)

In [ ]:
X_car_1.head()

In [ ]:
X_with_intercept_car_1 = sm.add_constant(X_car_1)

# Fit the linear regression model
model_car_1 = sm.OLS(y, X_with_intercept_car_1)
results_car_1 = model_car_1.fit()
results_car_1.summary()